annotated-types==0.6.0
blinker==1.6.2
blis==0.7.11
boltons 
brotlipy==0.7.0
catalogue==2.0.10
certifi 
cffi 
charset-normalizer
click==8.1.7
cloudpathlib==0.16.0
colorama 
conda 
conda-content-trust 
conda-libmamba-solver 
conda-package-handling 
conda_package_streaming 
confection==0.1.4
cryptography 
cymem==2.0.8
dotenver==1.3.0
Faker==24.3.0
Flask==2.3.3
Flask-Cors==4.0.0
Flask-JWT==0.3.2
git-filter-repo==2.45.0
idna 
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonpatch 
jsonpointer==2.1
langcodes==3.3.0
libmambapy 
MarkupSafe==2.1.3
menuinst 
murmurhash==1.0.10
numpy==1.26.4
packaging 
pluggy 
preshed==3.0.9
pycosat 
pycparser
pydantic==1.10.0
pydantic-settings==2.2.1
pydantic_core==2.16.3
PyJWT==1.4.2
pyOpenSSL 
PySocks 
pytest==7.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests 
ruamel.yaml 
six 
smart-open==6.4.0
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
thinc==8.2.3
toolz 
tqdm 
typer==0.9.0
typing_extensions==4.10.0
urllib3
wasabi==1.1.2
weasel==0.3.4
Werkzeug==2.3.7
win-inet-pton 
zstandard==0.19.0
